{{define "content"}}
<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em><span>Sage-Tech</span></em>  company</h2>
            <p><h3 style="color:white"> Home of future tech </h3></p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Join us</a>
            </div>
        </div>
    </div>
</div>
{{end}}